{% extends 'consultas/base.html' %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'CSS/estiloRango.css' %}">
<div class="container">
    <h2>Cursos</h2>
    <form role="form" action="{% url 'consultas:cargarCursosEspecificados' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            Filtros
            <br>
            <select id="id_filtro" name="filtro">
                <option value="1" {% if indice == 1 %}selected{% endif %}>Todos</option>
                <option value="2" {% if indice == 2 %}selected{% endif %}>Cursos con cupo</option>
                <option value="3" {% if indice == 3 %}selected{% endif %}>Cursos sin profesor</option>
                <option value="4" {% if indice == 4 %}selected{% endif %}>Cursos sin aula</option>
            </select>
            <input id="boton_cargar" class="btn" type="submit" value="Cargar"/>
        </div>
    </form>
    <label><b>Total cursos:</b></label> <label id="totalCursos">{{ total }}</label>
    <br>
    <b>Se muestran los cursos del</b> {{ ant_sup }} <b>al</b> {{ sup }}
    <br>
    <a class="izq" href="{% url 'consultas:mostrarCursosDisponibles' ant_sup indice %}">Anteriores 100</a>
    <a class="der" href="{% url 'consultas:mostrarCursosDisponibles' sig_sup indice %}">Siguientes 100</a>
    <br>
    <table class="table table-condense" id="tablaCursos">
        <thead>
        <th>NRC</th>
        <th>Materia</th>
        <th>Área</th>
        <th>Sección</th>
        <th>Profesor</th>
        <th>Cupos disponibles</th>
        </thead>
        <tbody>
        {% if cursos %}
        {% for curso in cursos %}
        <tr class="{{ curso.clase }}">
            <td><a href="/consultas/curso/{{ curso.nrc }}/"> {{ curso.nrc }}</a></td>
            <td><a href="/consultas/materia/{{ curso.id_materia }}/">{{ curso.materia }}</a></td>
            <td>{{ curso.area.id_area }}</td>
            <td>{{ curso.seccion }}</td>
            <td><a href="/consultas/profesor/{{ curso.id_profesor }}/">{{ curso.profesor_apellidos }}, {{ curso.profesor_nombres }}</a></td>
            <td>{{ curso.disponibles }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h2>No hay cursos disponibles.</h2>
        {% endif %}
        </tbody>
    </table>
    <a class="izq" href="{% url 'consultas:mostrarCursosDisponibles' ant_sup indice %}">Anteriores 100</a>
    <a class="der" href="{% url 'consultas:mostrarCursosDisponibles' sig_sup indice %}">Siguientes 100</a>
    <br>
</div>
{% endblock %}