{% extends 'consultas/base.html' %}
{% block body %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'CSS/estiloInfo.css' %}" xmlns="http://www.w3.org/1999/html">
<div class="container">
    <h2>Pérfil</h2>
    <div id="info">
        <label><b>Nombre:</b></label> {{ usuario.last_name }}, {{ usuario.first_name }}
        <br>
        {% if es_coordinador %}
        <form role="form" action="{% url 'consultas:mostrarCursosDisponiblesCarrera1' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label><b>Carreras:</b></label>
            <select id="id_carreras" name="carrera">
                {% for carrera in carreras %}
                <option value="{{ carrera.id }}">{{ carrera }}</option>
                {% endfor %}
            </select>
            <input class="btn" id="boton_cargar" type="submit" value="Cargar"/>
            <br>
            <button type="submit" class="btn">Mostrar cursos disponibles</button>
        </form>
    </div>
    <div id="cursos">
        <h3>Cursos registrados</h3>
        <table class="table table-condensed" id="tablaCursos"></table>
    </div>
    {% endif %}
    <script language="JavaScript" type="text/javascript">
        $(document).ready(function(){
            $("#boton_cargar").click(function(){
                var carrera = $("#id_carreras").val();
                if(carrera){
                    var request = $.ajax({
                        type: "GET",
                        url: "{% url 'consultas:cargarCursosRegistrados' %}",
                        data: {
                            "carrera": carrera
                            },
                    });
                    request.done(function(response){
                        $("#tablaCursos").html(response.carreras);
                    });
                }
                else{
                    $("#tablaCursos").html("<th>No hay carreras</th>");
                }
                return false;
            });
        });

    </script>
</div>
{% endblock %}